image.png
node_modules/
.DS_Store
*.log
*.tmp
*.bak
*.swp
*.cache
*.pid
*.pid.lock
*.gz
*.zip
*.tar
*.tgz
*.rar
*.7z
*.tar.gz
*.tar.bz2
*.tar.xz
*.tgz
*.log.*
*.log.*
*.log.gz
*.log.bz2
*.log.xz
*.log.tar
.env